<!doctype html>
<html>
<head>
  <title>MadLib</title>
  <link rel="stylesheet" type="text/css"href="static/madlibs.css">
</head>
<body> 
    <h2>Here's your awesome MadLib!</h2>
    <div class="story-first-paragraph">
        <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way. </p>

    </div>

    <div class="story-second-paragraph">
        <p> Suddenly, {{ number }} fireflies came to deliver a fantastically {{ adjective2 }} message - 999 {{ animals }} would come to save the day! </p>

    </div>

    </form>

</body>
</html>